// COLORS
$grey: #777;
$grey-2: #eee;
$gr-1:  #fdfcfb;
$gr-2:  #c3cfe2;
$gr-3: #c3cfe2;
$white: white;
$black: #000;

$text-gr-1: #a3bded;
$text-gr-2: #6991c7;

$card-gr-1-1: #667eea;
$card-gr-1-2: #764ba2;

$card-gr-2-1: #a3bded;
$card-gr-2-2: #6991c7;

$card-gr-3-1: #6dd5ed;
$card-gr-3-2: #2193b0;

$card-gr-4-1: #2998ff;
$card-gr-4-2: #5643fa;

$grey-light-1: #f7f7f7;

$dark-grey: #999;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-v: 8rem;
$gutter-v-small: 6rem;
$gutter-h: 6rem;
