.btn {
	&,
	&:link,
	&:visited {
		text-decoration: none;
		text-transform: uppercase;
		display: inline-block;
		border-radius: 10rem;
		transition: all .2s ease-out;
		position: relative;
		font-size: $default-font-size;

		// <border>
		border: none;
		cursor: pointer;
	}

	&:hover {
		transform: translateY(-3px);
		box-shadow: 0 1rem 2rem rgba($black, 0.3);

		&::after {
			transform: scaleY(1.6) scaleX(1.4);
			opacity: 0;
		}
	}

	&:focus,	
	&:active {
		outline: none;
		transform: translateY(-1px);
		box-shadow: 0 .5rem 1rem rgba($black, 0.3);
	}

	&::after {
		content: "";
		display: inline-block;
		border-radius: 10rem;
		height: 100%;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		z-index: -1;
		transition: all .3s;
	}

	&--animated {
		animation: moveInBottom .6s ease-in-out;
	}

	&--white {
		@include btn-variation($white, $grey);
		padding: 1.5rem 4rem;
	}

	&--primary-colored {
		@include btn-variation($text-gr-2, $white);
		padding: 1.5rem 4rem;
	}
}

.btn-text {
	font-size: $default-font-size;
	transition: all .2s;
	padding: 1rem .5rem;

	&:link,
	&:visited {
		display: inline-block;
		color: $text-gr-2;
		text-decoration: none;
		border-bottom: 1px solid $text-gr-2;
	}

	&:hover {
		background-color: $text-gr-2;
		color: $white;
		box-shadow: 0 1rem 2rem rgba($black, 0.2);
		transform: translateY(-.2rem);
	}

	&:active {
		transform: translateY(.2rem);
		box-shadow: 0 .3rem 1.8rem rgba($black, 0.2);
	}
}
