.form {
	&__group {
		position: relative;
		font-size: $default-font-size;
		color: $dark-grey;

		&:not(:last-child) {
			margin: 3.3rem 0;
		}

		@include respond(tab-land) {
			&:not(:last-child) {
				margin: 2.5rem 0;
			}	
		}

		@include respond(tab-port) {
			&:not(:last-child) {
				margin: 2rem 0;
			}	
		}

		@include respond(phone) {
			text-align: center;

			& input, & input::placeholder {
				text-align: left !important;
			}

			&:not(:last-child) {
				margin: 3rem 0;
			}	
		}
	}

	&__input::placeholder, &__input::-webkit-input-placeholder {
		font-size: $default-font-size;
		color: $dark-grey;
	}

	&__input {
		font-size: inherit;
		font-family: inherit;
		color: inherit;
		padding: 1.5rem 2rem;
		width: 90%;
		display: inline-block;
		border-width: 0px;
		z-index: 1;
		border-bottom: 3px solid transparent;
		border-radius: 3px;
		background-color: rgba($white, .8);
		transition: all .3s;

		@include respond(phone) {
			width:100%;
		}

		&:focus {
			outline: none;
			box-shadow: 0 1rem 2rem rgba($black, .1);
			border-bottom: 3px solid $card-gr-2-1;
		}

		&:focus:invalid {
			border-bottom: 3px solid rgb(252, 166, 166);
		}

		&:not(:placeholder-shown) {
			& + label {
				opacity: 1;
				visibility: visible;
				transform: translateY(0.8rem);
			}
		}
	}

	&__label {
		font-size: 1.5rem;
		position: relative;
		display: block;
		color: $grey;
		transform: translateY(-3.5rem);
		margin-left: 2rem;
		opacity: 0;
		visibility: hidden;
		font-weight: bold;
		transition: all .2s;

		@include respond(phone) {
			text-align: left;
		}
	}

	&__radio-group {
		display: inline-block;
		width: 49%;

		& label {
			font-size: 1.5rem;
			color: $grey;
			cursor: pointer;
		}
	}

	&__radio-input {
		visibility: hidden;
		position: absolute;
	}

	&__radio-input:checked + label .form__radio-button::after {
		opacity: 1;
		transform: translate(-50%, -50%) scale(1);
	}

	&__radio-button{
		display: inline-block;
		width: 2rem;
		height: 2rem;
		vertical-align: -.42rem;
		border-radius: 50%;
		border: 3px solid $text-gr-1;
		position: relative;
		margin-right: 1rem;

		&::after {
			content: "";
			top: 50%;
			left: 50%;
			width: 60%;
			height: 60%;
			border-radius: 50%;
			position: absolute;
			transition: all .2s;
			background-color: $text-gr-1;
			transform: translate(-50%, -50%) scale(.2);
			opacity: 0;
		}
	}
}