.story {
	@include clearfix;

	background-color: rgba($white, .7);
	border-radius: 2px;
	transform: skew(-10deg);
	width: 65%;
	box-shadow: 0 1.5rem 2rem rgba($black, .2);
	padding: 6rem;

	& > * {
		transform: skew(10deg);
	}
	
	&__text {
		font-size: $default-font-size;

		p {
			line-height: 1.6em;
		}
	}

	&__shape {
		display: block;
		width: 14rem;
		height: 14rem;
		margin-right: 5rem;
		float: left;
		// border-radius: 50%;
		// glitching out with backface-visibility
		overflow: hidden;
		clip-path: circle(50%);
		-webkit-shape-outside: circle(50% at 50% 50%) margin-box;
		shape-outside: circle(50% at 50% 50%) margin-box;

		img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			// border-radius: 50%;
			// fix for glitch or use border-radius
			backface-visibility: hidden;
			transform: scale(1.2);
			transition: all .15s ease-in-out;					
		}

		& figcaption{
			font-size: 2rem;
			font-weight: 200;
			color: $white;
			text-align: center;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 100%;
			transform: translate(-50%, 0%);
			transition: all .15s ease-in-out;
			opacity: 0;
			backface-visibility: hidden;
		}
	}
	
	&:hover &__shape {
		img {
			filter: blur(10px) brightness(85%);
			transform: scale(1);
		}
		
		figcaption{
			transform: translate(-50%, -50%);
			opacity: 1;
		}
	}

	@include respond(tab-port) {
		width: 100%;
		padding: 4rem;
	}

	@include respond(phone) {
		transform: skew(0deg);

		& > * {
			transform: skew(0deg);
		}

		&__shape {
			margin-right: 3rem;
		}
	}
	
}
