// using ../ even though images are on ../../ because
// all this code is being bundled in main.scss
// and then it's compiled to css so
// urls must be relative to main.scss

.header {
	position: relative;
	height: 95vh;
	background-size: cover;
	background-position: top;
	-webkit-clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
	clip-path: polygon(0 0, 100% 0, 100% 83%, 0 100%);
	z-index: 1;
	background-image: linear-gradient(
		0deg,
		rgba($gr-1, 0.6), rgba($gr-2, 0.6), rgba($gr-3, 0.6)
	),
		url('../images/water-sm.jpg');

	@media (-webkit-min-device-pixel-ratio: 2), 
		(min-resolution: 192dpi),
		(min-width: 43.75em) {
		background-image: linear-gradient(
			0deg,
			rgba($gr-1, 0.6), rgba($gr-2, 0.6), rgba($gr-3, 0.6)
		),
			url('../images/water.jpg');
	}

	@include respond(tab-port) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 87%, 0 100%);
	}

	@include respond(phone) {
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
		clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
	}

	&__logo {
		display: block;
		position: absolute;
		top: 2rem;
		left: 4rem;
		height: 10rem;
		color: $white;
	}

	&__text-box {
		position: absolute;
		top: 45%;
		left: 50%;
		transform: translate(-50%, -50%);
		text-align: center;
		min-width: 80%;
	}
}